.button{
    background-color: rgb(255, 130, 34);
    color:  #fdfeff;
    width: 50%;
    height: 10%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
