
:root {
    --primary-color: #ff8222; /* Example primary color */
    --secondary-color: #fdfeff; /* Example secondary color */
    --accent-color: #2b2b2b; /* Example accent color */
    --background-color: #e0e0e0; /* Example background color */
}