
#paintCanvas {
    background-color: #fdfeff;
    image-rendering: pixelated;

    position: absolute;
    left: 40000px;
    top: 40000px;
}

#paint-background {
    background-color: #e0e0e0;
    height: 80000px;
    width: 80000px;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}